#painel {
    background-color: #dcdcdc;
    border-radius: 10px;
    padding: 25px;
  }
  
  #painel a {
    width: 100%;
    border-top: 1px solid #c0c0c0;
    padding: 15px 0;
  }
  
  #painel a.link-painel {
    text-decoration: none;
    text-transform: uppercase;
    color: #808080;
    font-weight: 500;
  }
  
  #painel a.link-painel:hover {
    color: #5a5a5a;
  }
  
  #conteudo {
    width: 100%;
    height: 100%;
  }
  
  .ingredientes {
    border: 1px solid #c3c3c3;
    margin-left: 1px;
    border-radius: 5px;
    height: 50px;
  }
  
  #lista-carrinho {
    list-style: none;
  }
  
  .img-carrinho {
    display: inline-block;
    width: 100px;
    height: 100px;
  }
  
  .btn-car {
    text-decoration: none;
    display: inline;
    background: none;
    border: none;
  }
  
  .btn-car i {
    color: #9e9e9e;
    font-size: 25px;
  }
  
  .btn-car i:hover {
    color: #60d3fa;
  }
  
  .quantidade-itens {
    font-size: 25px;
  }
  
  .valor-item {
    font-size: 20px;
    font-weight: 700;
  }
  
  .item-carrinho {
    border: 1px solid #eaeaea;
    border-left: 0;
    border-right: 0;
    padding: 15px 0;
  }
  
  .carrinho-total {
    text-align: end;
  }
  
  .carrinho-total p {
    line-height: 10px;
  }
  
  .carrinho-total h6 {
    font-size: 22px;
    font-weight: 700;
  }
  
  .icons {
    font-size: 18px;
  }
  
  .fa-solid.icons-pedidos,
  .fa-solid.pendente {
    color: #4e4f4f;
  }
  
  .fa-solid.pronto {
    color: green;
  }
  
  .fa-solid.finalizar {
    color: orange;
  }
  
  .fa-solid.apagar {
    color: red;
  }
  
  .card-color,
  .card-color li {
    background-color: #c0c0c0;
    font-weight: 500;
  }
  
  .quantidade-item-pedido {
    font-weight: 500;
  }
  
  .alert-info {
    font-size: 18px;
    font-weight: bold;
    padding: 20px;
    margin: 50px auto;
    max-width: 500px;
    border-radius: 10px;
    border-color: #6cb2eb;
    color: #31708f;
    background-color: #d9edf7;
  }
  
  .card-title {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
    text-transform: uppercase;
  }
  
  .card-text {
    font-size: 18px;
    color: #666;
    margin-bottom: 15px;
  }
  
  .card-ingredients {
   
  
    font-size: 16px;
    color: #999;
    margin-bottom: 5px;
  }
  
  